@model IEnumerable<Books>

<h2>Favorite Books</h2>

<style>
    h6{
        font-family:Courier New, Courier, monospace;
    }
</style>
<h6> Genre Types #: 1-Romance  2-Mystery  3-Fiction  4-Comics  5-Biography</h6>



<div style="display: block">
    <a href="/Books/InsertBook/">Create a New Book</a>
</div>

<table class="table">

    <tr>
        <th>ID</th>
        <th>Genres</th>
        <th>Title</th>
        <th> Description</th>
        <th>Author</th>
        <th>Pages</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td><a href=/Books/ViewBooks/@book.ID>@book.ID</a></td>
            <td>@book.GenresID</td>
            <td>@book.Title</td>
            <td>@book.Description</td>
            <td>@book.Author</td>
            <td>@book.Pages</td>




        </tr>
    }

    

</table>

